#about {
    width: 100%;
    min-height: 600px;
    background-color: #F9C80E;
    padding-inline: 150px;
}

#about h4 {
    padding-top: 50px !important;
}

.text-about {
    width: 100%;
    display: flex;
    justify-content: center;
}

.text-about p {
    width: 70%;
    text-align: justify;
    font-size: 26px;
}

@media (max-width: 1600px) {
    .text-about p {
        width: 80%;
    }
}

@media (max-width: 1200px) {

    #about {
        padding-inline: 20px !important;
    }

    .text-about p {
        width: 100%;
        margin-bottom: 50px;
        font-size: 20px;
    }


}