#about {
    width: 100%;
    height: 600px;
    background-color: #F9C80E;
    padding-inline: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-about {
    width: 60%;
    text-align: justify;
    font-size: 26px;
}