footer {
    min-height: 50px;
    background-color: #155ce0;
    color: #ffffff;
    text-align: center;
    display: flex !important;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

footer svg, footer svg path {
    filter: invert(21%) sepia(89%) saturate(7462%) hue-rotate(3deg) brightness(96%) contrast(121%);
}