header {
    width: 100%;
    height: 800px;
    position: relative;
    color: #ffffff;
}

.first-block {
    background: rgb(21,92,224);
    background: linear-gradient(90deg, rgba(21,92,224,1) 0%, rgba(17,77,187,1) 35%, rgba(12,54,131,1) 100%); 
    height: 100%;  
    padding-block: 200px;
    padding-inline: 150px !important;
}

.first-block h2 {
    font-weight: 300;
    font-size: 38px;
    font-family: 'Montserrat', sans-serif;
}

.first-block h3 {
    font-weight: 700; 
    font-size: 84px;
}

.first-block h2 p span {
    font-weight: 700;
}

h2 p:last-child {
    font-size: 24px;
}

.last-block {
    background: rgb(93,253,203);
    background: linear-gradient(270deg, rgba(93,253,203,1) 0%, rgba(2,242,166,1) 35%, rgba(2,202,139,1) 100%); 
    height: 100%;
}

.photo {
    position: absolute;
    left: calc(66.6% - 200px);
    top: 90px;
}

.photo-curriculum {
    width: 400px;
    z-index: 1;
}

.memphis-border-photo {
    width: 400px;
    height: 620px;
    background-color: transparent;
    border: 2px solid #ffffff;
    position: absolute;
    left: calc(66.6% - 170px);
    top: calc(375px - 255px);
    z-index: 0;
}

.memphis {
    position: absolute;
}

.memphis-wave {
    width: 80px;
    left: -100px;
    top: -50px;
}
.memphis-wave.x2 {
    width: 80px;
    top: 680px;
    left: calc(50% - 40px);
}

.memphis-triangle {
    width: 60px;
    bottom: -50px;
    right: -100px;
}

.memphis-x {
    width: 30px;
    top: 18px;
    right: -80px;
}

.memphis-x.x2 {
    right: -120px;
}

.memphis-x.x3 {
    right: -160px;
}