nav {
    height: 80px;
    background-color: #02ca8b;
    display: flex !important;
    text-transform: uppercase;
    border-bottom: 5px solid white;
    position: relative;
}

nav svg {
    display: none;
}

h1 {
    width: 200px;
    margin-block: 0 !important;
    margin-left: 140px !important;
    font-size: 30px !important;
    text-align: start;
    color: #ffffff !important;
}

.menu ul {
    width: 760px;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    font-size: 20px;
    font-weight: 500;
    margin: 0 !important;
}

a {
    color: #ffffff !important;
}

a:hover {
    color: #ffffff !important;
    text-decoration: none !important;
}




