#projects {
    min-height: 600px;
    background-color: #02ca8b;
    width: 100%;
    padding-inline: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

