@media (max-width: 1200px) { 

    header {
        height: 1200px !important;
    }

    .first-block {
        padding-block: 50px !important;
        height: 400px !important;
    }

    .last-block {
        height: 800px !important;
    }

    .photo {
        top: 567.5px;
        left: calc(50% - 150px);
    }

    .photo-curriculum {
        width: 300px;
    }

    .memphis-border-photo {
        width: 300px;
        height: 465px;
        top: 600px;
        left: calc(50% - 130px);
    }

    .memphis-wave.x2 {
        top: 510px;
    }

}

@media (max-width: 992px) { 

    nav {
        display: none !important;
    }

}

@media (max-width: 768px) { 

    nav {
        border-bottom: 0 !important;
    }

    header {
        height: 1000px !important;
    }

    header h3 {
        margin: 0 !important;
    }

    .first-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .first-block h2 {
        font-size: 28px;
    }

    h2 p:last-child {
        font-size: 18px;
    }

    .first-block h3 {
        font-size: 60px;
    }

    .last-block {
        height: 600px !important;
    }

    .first-block, .last-block {
        padding: 20px !important;
    }

    .photo {
        top: 506.25px;
        left: calc(50% - 125px);
    }

    .photo-curriculum {
        width: 250px;
    }

    .memphis-border-photo {
        width: 250px;
        height: 387.5px;
        top: 526.25px;
        left: calc(50% - 105px);
    }

    .memphis-wave {
        width: 60px;
        left: -50px;
        top: -50px;
    }

    .memphis-wave.x2 {
        top: 460px;
    }
    
    .memphis-triangle {
        width: 50px;
        bottom: -50px;
        right: -70px;
    }
    
    .memphis-x {
        width: 20px;
        top: -30px;
        right: 0px;
    }
    
    .memphis-x.x2 {
        right: -30px;
    }
    
    .memphis-x.x3 {
        right: -60px;
    }



}
