@media (min-width: 1200px) { 
    nav {
        justify-content: space-between;
        align-items: center;
    }

    .first-block {
        border-right: 2.5px solid white;
    }

    .last-block {
        border-left: 2.5px solid white;
    }
}


@media (max-width: 1200px) { 

    h1 {
        margin-left: 0 !important;
        text-align: center;
    }

    nav .bi-list {
        position: absolute;
        display: block;
        left: 20px;
        cursor: pointer;
    }

    nav .bi-x-circle{
        position: absolute;
        display: none;
        cursor: pointer;
        right: 20px;
        z-index: 999;
    }

    .menu {
        display: none;
        position: fixed;
        left: 0;
        width: 75%;
        height: 100vh;
        padding: 10px;
        background-color: #155ce0;
        z-index: 999;
    }

    .menu ul {
        display: flex !important;
        flex-direction: column;
        margin-top: 80px !important;
    }

    .menu ul li {
        margin-bottom: 20px;
    }

    .wrap-nav-mob {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(4px);
        z-index: 99;
    }

    header {
        height: 1200px !important;
    }

    .first-block {
        padding-block: 50px !important;
        height: 400px !important;
    }

    .last-block {
        height: 800px !important;
    }

    .photo {
        top: 567.5px;
        left: calc(50% - 150px);
    }

    .photo-curriculum {
        width: 300px;
    }

    .memphis-border-photo {
        width: 300px;
        height: 465px;
        top: 600px;
        left: calc(50% - 130px);
    }

    .memphis-wave.x2 {
        top: 510px;
    }

    /* TIMELINE */

    .timeline-content {
        width: 960px !important;
    }

    .description .img-and-month {
        width: 380px !important;
    }

    .activity {
        width: 380px  !important;
    }

}

@media (max-width: 992px) { 

    /* TIMELINE */

    .description, .description .img-and-month {
        width: 100% !important;
        /* padding-inline: 6px !important; */
    }

    .activity, .img-and-month {
        position: absolute;
        visibility: hidden;
        display: flex;
    }

    .activity {
        width: 200px !important;
        padding-left: 0 !important;
        padding-top: 0;
    }

    .content-block {
        border-bottom: 2px solid var(--primary-color);
    }

    .activity-title {
        position: absolute;
        visibility: visible;
        color: var(--secondary-color);
        z-index: 1;
        width: 200px;
        height: 150px;
        top: 160px;
        padding-inline: 5px;
        text-align: center;
        font-size: 22px !important;
    }
    
    .activity p {
        position: absolute;
    }

    .timeline-content {
        width: 100% !important;
        padding-inline: 10px;
    }

    .line {
        display: none;
    }

    .content-block span {
        font-size: 60px;
    }

    .timeline-elements {
        position: relative;
    }

    .box-responsive {
        position: absolute;
        width: 300px;
        height: 500px;
        background-color: red;
        z-index: 999;
    }

}

@media (max-width: 768px) { 

    /* NAV */

    h1 {
        font-size: 24px !important;
    }

    .menu ul {
        width: 100%;
    }

    /* HEADER */

    header {
        height: 1000px !important;
    }

    header h3 {
        margin: 0 !important;
    }

    .first-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    .first-block h2 {
        font-size: 28px;
    }

    h2 p:last-child {
        font-size: 18px;
    }

    .first-block h3 {
        font-size: 60px;
    }

    .last-block {
        height: 600px !important;
    }

    .first-block, .last-block {
        padding: 20px !important;
    }

    .photo {
        top: 506.25px;
        left: calc(50% - 125px);
    }

    .photo-curriculum {
        width: 250px;
    }

    .memphis-border-photo {
        width: 250px;
        height: 387.5px;
        top: 526.25px;
        left: calc(50% - 105px);
    }

    .memphis-wave {
        width: 60px;
        left: -25px;
        top: -50px;
    }

    .memphis-wave.x2 {
        top: 460px;
    }
    
    .memphis-triangle {
        width: 50px;
        bottom: -75px;
        right: -45px;
    }
    
    .memphis-x {
        width: 20px;
        top: -30px;
        right: 30px;
    }
    
    .memphis-x.x2 {
        right: 0;
    }
    
    .memphis-x.x3 {
        right: -30px;
    }

    /*

    .dialog {
        position: relative;
        min-width: 1px;
        height: 100%;
    }

    .box {
        position: absolute;
        background-color: var(--third-color);
        border-radius: 10px;
        box-shadow: 5px 5px 5px black;
        width: 75vw;
        height: 400px;
        z-index: 999;
    }

    .box svg {
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
    }

    .box.x0 {
        display: none;
        top: 125px;
        right: -25px;
    }

    .box.x1 {
        display: none;
        top: 425px;
        left: -25px;
    }

    .box.x2 {
        display: none;
        top: 725px;
        right: -25px;
    }

    .box.x3 {
        display: none;
        top: 1275px;
        left: -25px;
    }

    .box.x4 {
        display: none;
        top: 1550px;
        right: -25px;
    }

    .box.x5 {
        display: none;
        top: 1850px;
        left: -25px;
    }

    .title-box::after {
        content: '';
        border-top-left-radius: 40% 10%;
        border-top-right-radius: 40% 10%;
        position: absolute;
        bottom: 0;
        z-index: -1;
        width: 100%;
        background-color: var(--secondary-color);
        height: 80%;
    
    } */

    
    /* CONTACT */

    #contact {
        display: none;
    }
}

@media (max-width: 576px) {

    

 }
