
@media (max-width: 1400px) {
    .start-study, .internship {
        left: 22% !important;
    }

    .web-study {
        left: 32% !important;
    }

    .comp-study, .master-study {
        right: -5% !important;
    }

    .tcc-study {
        right: 10% !important;
    }
}

@media (max-width: 1200px) {
    .timeline-content {
        width: 100%;
   }

   .start-study, .internship {
        left: 12% !important;
    }

    .web-study {
        left: 25% !important;
    }

    .comp-study, .master-study {
        right: 8% !important;
    }

    .tcc-study {
        right: 27% !important;
    }
}

@media (max-width: 992px) {

   .start-study, .internship {
        left: 3% !important;
    }

    .web-study {
        left: 15% !important;
    }

    .comp-study, .master-study {
        right: 0 !important;
    }

    .tcc-study {
        right: 20% !important;
    }
}

@media (max-width: 768px) {
    .wrap-timeline-imgs {
        display: none;
    }
}