#timeline {
    min-height: 2375px;
    background-color: #0c3683;
    padding-inline: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

h4 {
    color: #ffffff !important;
    margin-bottom: 50px !important;
}

.month {
    width: 100%;
    position: absolute;
    top: 0;
}

.month span{
    color: white;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    margin-left: -100px;
    margin-top: 110px;
}

.month :nth-child(2) {
    margin-left: 240px !important;
    margin-top: 250px !important;
}

.month :nth-child(3) {
    margin-left: -140px !important;
    margin-top: 250px !important;
}

.month :nth-child(4) {
    margin-left: 240px !important;
    margin-top: 520px !important;
}

.month :nth-child(5) {
    margin-left: -140px !important;
    margin-top: 250px !important;
}

.month :nth-child(6) {
    margin-left: 240px !important;
    margin-top: 250px !important;
}

.block {
    width: 200px;
    min-height: 2000px;
    background-color: #ffffff;
    position: relative;
}

.timeline-content {
    width: 80%;
    position: absolute;
    top: 275px;
}

.timeline-content div {
    width: 37%;
    margin-bottom: 90px;
}

.timeline-content span {
    font-size: 30px;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
}

.timeline-content {
    color: white;
    font-size: 20px;
    padding-top: 20px;
    text-align: justify;
}

.description-left p , .description-right p {
    margin-top: 10px;
}

.description-left {
    margin-top: 310px;
}

.description-right {
    position: absolute;
    right: 0;
}

.tcc {
    margin-top: 650px;
}

.front-end {
    margin-top: 50px;
}

.mestrado {
    margin-top: 420px;
}

.year {
    font-size: 12rem;
    font-weight: bold;
    color: #02ca8b;
    position: relative;
    padding: 2px;
}

.second-part-year {
    position: absolute;
    top: 12rem;
    left: 30px;
}

.year-2017 {
    text-align: right;
    color: #F9C80E;
    margin-top: 110px;  
}

.year-2018 {
    color: #0c3683;
    margin-top: 110px;
}

.year-2020 {
    text-align: right;
    color: #0c3683;
    margin-top: 380px;
}

.year-2021 {
    margin-top: 110px;
    color: #02ca8b;
}

.year-2022 {
    text-align: right;
    margin-top: 110px;
    color: #F9C80E;
}


.flag {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: transparent;
    top: 100px;
    right: -50px;
    border-left: 25px solid #ffffff;
    border-right: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-top: 25px solid transparent;
}

 .flag.x1 {
    transform: rotate(180deg);
    left: -50px;
    top: 400px;
}



.flag.x2 {
    right: -50px;
    top: 700px;
}


.flag.x3 {
    transform: rotate(180deg);
    left: -50px;
    top: 1250px;
}


.flag.x4 {
    right: -50px;
    top: 1525px;
}


.flag.x5 {
    transform: rotate(180deg);
    left: -50px;
    top: 1825px;
} 


.line {
    position: absolute;
    width: 400px;
    height: 3px;
    background-color: #ffffff;
}

.line.x0 {
    top: 320px;
    left: -400px;
    width: 400px;
    height: 3px;
    background-color: #ffffff;
}

.line.x1 {
    top: 600px;
    left: 200px;
}

.line.x2 {
    top: 1160px;
    left: -400px;
}

.line.x3 {
    top: 1440px;
    left: 200px;
}

.line.x4 {
    top: 1720px;
    left: -400px;
}