#timeline {
    min-height: 2050px;
    background-color: #ECF2FD;
    position: relative;
}

#timeline h4 {
    color: #000000 !important;
}

.timeline-elements {
    display: flex;
    justify-content: center;
}

.timeline-content {
    position: absolute;
    width: 1100px;
    display: flex;
    flex-direction: column;
}


.content-block {
    width: 200px;
    height: 320px;
    position: relative;
    background-color: #155ce0;
}

.line {
    width: 350px;
    height: 2px;
    background-color: var(--secondary-color);
    position: absolute;
    bottom: 0;
}

.right-line {
    left: 200px;
}

.left-line{
    right: 200px;
}

.flag {
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-left: 25px solid #155ce0;
    border-right: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-top: 25px solid transparent;
    position: absolute;
    top: calc(33% - 25px);
}

.box-responsive {
    display: none;
}

.info-icon {
    display: none;
}

.right-flag {
    left: 200px;
}

.left-flag {
    right: 200px;
    transform: rotate(180deg);
}

.content-block span {
    font-size: 100px;
    font-weight: 700;
    color: #ffffff;
}

.content-block span:first-child {
    display: block;
    padding-left: 5px;
}

.description:nth-child(even) .content-block span:first-child {
    padding-right: 5px;
}


.content-block span:not(span:first-child)  {
    color: var(--primary-color);
    display: block;
    margin-top: -30px;
    margin-top: -20px;
    margin-left: 60px;
}

.description:nth-child(even) .content-block{
    text-align: right;
}

.description:nth-child(even) .content-block span:not(span:first-child){
    margin-left: auto;
    margin-right: 60px;
}

.description {
    width: 100%;
    display: flex;
    text-align: justify;
    justify-content: center;
}

.description p {
    font-family: 'Montserrat', sans-serif;
}

.description:nth-child(2n + 1){
    flex-direction: row-reverse;
}

.activity {
    width: 450px !important;
    color: #000000;
    padding-right: 30px;
    padding-top: 26px;
}

.description:nth-child(2n + 1) .activity {
    padding-right: 0;
    padding-left: 30px;
}

.description:nth-child(even) .img-and-month{
    flex-direction: row-reverse;
}


.description .img-and-month {
    width: 450px !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
}

.description:nth-child(2n + 1) .img-and-month{
    padding-right: 30px;
    padding-left: 0;
}

.img-and-month img {
    width: 250px;
}

.logo-laravel, .logo-python {
    width: 150px !important;
}

.img-and-month table {
    width: 100%;
    height: 100%;
}

.img-and-month table img {
    width: 60px;
}

.img-and-month span{
    color: #155ce0;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    height: 100%;
    padding-top: 50px;
}

.description.d-18 .content-block {
    height: 400px;
}

.activity span {
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
}

.activity p {
    padding-top: 25px;
    font-size: 14px;
}